anyio==3.4.0
asgiref==3.4.1
autopep8==1.6.0
click==8.0.3
dnspython==2.1.0
email-validator==2.2.0
fastapi==0.112.1
greenlet==3.0.3
h11==0.12.0
idna==3.3
psycopg2==2.9.9
pycodestyle==2.8.0
pydantic==2.8.2
pydantic-settings
python-multipart==0.0.5
six==1.16.0
sniffio==1.2.0
SQLAlchemy==2.0.32
starlette==0.38.2
toml==0.10.2
typing-extensions==4.12.2
uvicorn==0.16.0
